<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 1 数据库部分配置  必须-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!-- 2 hibernate基本配置  可选 -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <!--
            创建数据库表，需要配置实现
            create-drop： 如果数据库存在相同的表，把表删除再创建
            create：如果数据库存在相同的表，再创建相同字段的表
            update：如果数据库存在相同的表，把表更新，如果没有表，创建表
            validate：如果数据库存在相同的表，把表更新，如果没有表，创建表；多个校验功能：数据库表字段必须和实体类属性完全一样
         -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--
             配置数据库方言
             mysql做分页使用limit关键字，limit关键字只能使用在mysql里面
             oracle使用rownum，只能使用oracle里面
         -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <mapping class="com.leotech.entity.Area"/>
        <mapping class="com.leotech.entity.Button"/>
        <mapping class="com.leotech.entity.Cabinet"/>
        <mapping class="com.leotech.entity.Cable"/>
        <mapping class="com.leotech.entity.Clone"/>
        <mapping class="com.leotech.entity.Device"/>
        <mapping class="com.leotech.entity.DeviceType"/>
        <mapping class="com.leotech.entity.Eth"/>
        <mapping class="com.leotech.entity.Event"/>
        <mapping class="com.leotech.entity.Label"/>
        <mapping class="com.leotech.entity.Material"/>
        <mapping class="com.leotech.entity.Mesh"/>
        <mapping class="com.leotech.entity.Power"/>
        <mapping class="com.leotech.entity.Station"/>
        <mapping class="com.leotech.entity.Stats"/>
        <mapping class="com.leotech.entity.System"/>
        <mapping class="com.leotech.entity.Template"/>
        <mapping class="com.leotech.entity.Text"/>
    </session-factory>
</hibernate-configuration>