<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leotech.mapper.StatsMapper">
  <resultMap id="BaseResultMap" type="com.leotech.entity.Stats">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="totalU" jdbcType="INTEGER" property="totalu" />
    <result column="usedU" jdbcType="INTEGER" property="usedu" />
    <result column="remainU" jdbcType="INTEGER" property="remainu" />
    <result column="spaceRatio" jdbcType="DOUBLE" property="spaceratio" />
    <result column="maxConsU" jdbcType="INTEGER" property="maxconsu" />
    <result column="totalCap" jdbcType="DOUBLE" property="totalcap" />
    <result column="usedCap" jdbcType="DOUBLE" property="usedcap" />
    <result column="remainCap" jdbcType="DOUBLE" property="remaincap" />
    <result column="loadRatio" jdbcType="DOUBLE" property="loadratio" />
    <result column="areaId" jdbcType="INTEGER" property="areaid" />
    <result column="areaName" jdbcType="VARCHAR" property="areaname" />
    <result column="systemId" jdbcType="INTEGER" property="systemid" />
    <result column="systemName" jdbcType="VARCHAR" property="systemname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    name, totalU, usedU, remainU, spaceRatio, maxConsU, totalCap, usedCap, remainCap, 
    loadRatio, areaId, areaName, systemId, systemName
  </sql>
  <select id="selectByExample" parameterType="com.leotech.entity.StatsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stats
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stats
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.leotech.entity.StatsExample">
    delete from stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.leotech.entity.Stats">
    insert into stats (name, totalU, usedU, 
      remainU, spaceRatio, maxConsU, 
      totalCap, usedCap, remainCap, 
      loadRatio, areaId, areaName, 
      systemId, systemName)
    values (#{name,jdbcType=VARCHAR}, #{totalu,jdbcType=INTEGER}, #{usedu,jdbcType=INTEGER}, 
      #{remainu,jdbcType=INTEGER}, #{spaceratio,jdbcType=DOUBLE}, #{maxconsu,jdbcType=INTEGER}, 
      #{totalcap,jdbcType=DOUBLE}, #{usedcap,jdbcType=DOUBLE}, #{remaincap,jdbcType=DOUBLE}, 
      #{loadratio,jdbcType=DOUBLE}, #{areaid,jdbcType=INTEGER}, #{areaname,jdbcType=VARCHAR}, 
      #{systemid,jdbcType=INTEGER}, #{systemname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.leotech.entity.Stats">
    insert into stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="totalu != null">
        totalU,
      </if>
      <if test="usedu != null">
        usedU,
      </if>
      <if test="remainu != null">
        remainU,
      </if>
      <if test="spaceratio != null">
        spaceRatio,
      </if>
      <if test="maxconsu != null">
        maxConsU,
      </if>
      <if test="totalcap != null">
        totalCap,
      </if>
      <if test="usedcap != null">
        usedCap,
      </if>
      <if test="remaincap != null">
        remainCap,
      </if>
      <if test="loadratio != null">
        loadRatio,
      </if>
      <if test="areaid != null">
        areaId,
      </if>
      <if test="areaname != null">
        areaName,
      </if>
      <if test="systemid != null">
        systemId,
      </if>
      <if test="systemname != null">
        systemName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalu != null">
        #{totalu,jdbcType=INTEGER},
      </if>
      <if test="usedu != null">
        #{usedu,jdbcType=INTEGER},
      </if>
      <if test="remainu != null">
        #{remainu,jdbcType=INTEGER},
      </if>
      <if test="spaceratio != null">
        #{spaceratio,jdbcType=DOUBLE},
      </if>
      <if test="maxconsu != null">
        #{maxconsu,jdbcType=INTEGER},
      </if>
      <if test="totalcap != null">
        #{totalcap,jdbcType=DOUBLE},
      </if>
      <if test="usedcap != null">
        #{usedcap,jdbcType=DOUBLE},
      </if>
      <if test="remaincap != null">
        #{remaincap,jdbcType=DOUBLE},
      </if>
      <if test="loadratio != null">
        #{loadratio,jdbcType=DOUBLE},
      </if>
      <if test="areaid != null">
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="areaname != null">
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="systemid != null">
        #{systemid,jdbcType=INTEGER},
      </if>
      <if test="systemname != null">
        #{systemname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.leotech.entity.StatsExample" resultType="java.lang.Integer">
    select count(*) from stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stats
    <set>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.totalu != null">
        totalU = #{record.totalu,jdbcType=INTEGER},
      </if>
      <if test="record.usedu != null">
        usedU = #{record.usedu,jdbcType=INTEGER},
      </if>
      <if test="record.remainu != null">
        remainU = #{record.remainu,jdbcType=INTEGER},
      </if>
      <if test="record.spaceratio != null">
        spaceRatio = #{record.spaceratio,jdbcType=DOUBLE},
      </if>
      <if test="record.maxconsu != null">
        maxConsU = #{record.maxconsu,jdbcType=INTEGER},
      </if>
      <if test="record.totalcap != null">
        totalCap = #{record.totalcap,jdbcType=DOUBLE},
      </if>
      <if test="record.usedcap != null">
        usedCap = #{record.usedcap,jdbcType=DOUBLE},
      </if>
      <if test="record.remaincap != null">
        remainCap = #{record.remaincap,jdbcType=DOUBLE},
      </if>
      <if test="record.loadratio != null">
        loadRatio = #{record.loadratio,jdbcType=DOUBLE},
      </if>
      <if test="record.areaid != null">
        areaId = #{record.areaid,jdbcType=INTEGER},
      </if>
      <if test="record.areaname != null">
        areaName = #{record.areaname,jdbcType=VARCHAR},
      </if>
      <if test="record.systemid != null">
        systemId = #{record.systemid,jdbcType=INTEGER},
      </if>
      <if test="record.systemname != null">
        systemName = #{record.systemname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stats
    set name = #{record.name,jdbcType=VARCHAR},
      totalU = #{record.totalu,jdbcType=INTEGER},
      usedU = #{record.usedu,jdbcType=INTEGER},
      remainU = #{record.remainu,jdbcType=INTEGER},
      spaceRatio = #{record.spaceratio,jdbcType=DOUBLE},
      maxConsU = #{record.maxconsu,jdbcType=INTEGER},
      totalCap = #{record.totalcap,jdbcType=DOUBLE},
      usedCap = #{record.usedcap,jdbcType=DOUBLE},
      remainCap = #{record.remaincap,jdbcType=DOUBLE},
      loadRatio = #{record.loadratio,jdbcType=DOUBLE},
      areaId = #{record.areaid,jdbcType=INTEGER},
      areaName = #{record.areaname,jdbcType=VARCHAR},
      systemId = #{record.systemid,jdbcType=INTEGER},
      systemName = #{record.systemname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.leotech.entity.Stats">
    update stats
    <set>
      <if test="totalu != null">
        totalU = #{totalu,jdbcType=INTEGER},
      </if>
      <if test="usedu != null">
        usedU = #{usedu,jdbcType=INTEGER},
      </if>
      <if test="remainu != null">
        remainU = #{remainu,jdbcType=INTEGER},
      </if>
      <if test="spaceratio != null">
        spaceRatio = #{spaceratio,jdbcType=DOUBLE},
      </if>
      <if test="maxconsu != null">
        maxConsU = #{maxconsu,jdbcType=INTEGER},
      </if>
      <if test="totalcap != null">
        totalCap = #{totalcap,jdbcType=DOUBLE},
      </if>
      <if test="usedcap != null">
        usedCap = #{usedcap,jdbcType=DOUBLE},
      </if>
      <if test="remaincap != null">
        remainCap = #{remaincap,jdbcType=DOUBLE},
      </if>
      <if test="loadratio != null">
        loadRatio = #{loadratio,jdbcType=DOUBLE},
      </if>
      <if test="areaid != null">
        areaId = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="areaname != null">
        areaName = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="systemid != null">
        systemId = #{systemid,jdbcType=INTEGER},
      </if>
      <if test="systemname != null">
        systemName = #{systemname,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leotech.entity.Stats">
    update stats
    set totalU = #{totalu,jdbcType=INTEGER},
      usedU = #{usedu,jdbcType=INTEGER},
      remainU = #{remainu,jdbcType=INTEGER},
      spaceRatio = #{spaceratio,jdbcType=DOUBLE},
      maxConsU = #{maxconsu,jdbcType=INTEGER},
      totalCap = #{totalcap,jdbcType=DOUBLE},
      usedCap = #{usedcap,jdbcType=DOUBLE},
      remainCap = #{remaincap,jdbcType=DOUBLE},
      loadRatio = #{loadratio,jdbcType=DOUBLE},
      areaId = #{areaid,jdbcType=INTEGER},
      areaName = #{areaname,jdbcType=VARCHAR},
      systemId = #{systemid,jdbcType=INTEGER},
      systemName = #{systemname,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.leotech.entity.Stats">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="totalU" jdbcType="INTEGER" property="totalu" />
    <result column="usedU" jdbcType="INTEGER" property="usedu" />
    <result column="remainU" jdbcType="INTEGER" property="remainu" />
    <result column="spaceRatio" jdbcType="DOUBLE" property="spaceratio" />
    <result column="maxConsU" jdbcType="INTEGER" property="maxconsu" />
    <result column="totalCap" jdbcType="DOUBLE" property="totalcap" />
    <result column="usedCap" jdbcType="DOUBLE" property="usedcap" />
    <result column="remainCap" jdbcType="DOUBLE" property="remaincap" />
    <result column="loadRatio" jdbcType="DOUBLE" property="loadratio" />
    <result column="areaId" jdbcType="INTEGER" property="areaid" />
    <result column="areaName" jdbcType="VARCHAR" property="areaname" />
    <result column="systemId" jdbcType="INTEGER" property="systemid" />
    <result column="systemName" jdbcType="VARCHAR" property="systemname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    name, totalU, usedU, remainU, spaceRatio, maxConsU, totalCap, usedCap, remainCap, 
    loadRatio, areaId, areaName, systemId, systemName
  </sql>
  <select id="selectByExample" parameterType="com.leotech.entity.StatsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stats
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stats
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.leotech.entity.StatsExample">
    delete from stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.leotech.entity.Stats">
    insert into stats (name, totalU, usedU, 
      remainU, spaceRatio, maxConsU, 
      totalCap, usedCap, remainCap, 
      loadRatio, areaId, areaName, 
      systemId, systemName)
    values (#{name,jdbcType=VARCHAR}, #{totalu,jdbcType=INTEGER}, #{usedu,jdbcType=INTEGER}, 
      #{remainu,jdbcType=INTEGER}, #{spaceratio,jdbcType=DOUBLE}, #{maxconsu,jdbcType=INTEGER}, 
      #{totalcap,jdbcType=DOUBLE}, #{usedcap,jdbcType=DOUBLE}, #{remaincap,jdbcType=DOUBLE}, 
      #{loadratio,jdbcType=DOUBLE}, #{areaid,jdbcType=INTEGER}, #{areaname,jdbcType=VARCHAR}, 
      #{systemid,jdbcType=INTEGER}, #{systemname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.leotech.entity.Stats">
    insert into stats
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="totalu != null">
        totalU,
      </if>
      <if test="usedu != null">
        usedU,
      </if>
      <if test="remainu != null">
        remainU,
      </if>
      <if test="spaceratio != null">
        spaceRatio,
      </if>
      <if test="maxconsu != null">
        maxConsU,
      </if>
      <if test="totalcap != null">
        totalCap,
      </if>
      <if test="usedcap != null">
        usedCap,
      </if>
      <if test="remaincap != null">
        remainCap,
      </if>
      <if test="loadratio != null">
        loadRatio,
      </if>
      <if test="areaid != null">
        areaId,
      </if>
      <if test="areaname != null">
        areaName,
      </if>
      <if test="systemid != null">
        systemId,
      </if>
      <if test="systemname != null">
        systemName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalu != null">
        #{totalu,jdbcType=INTEGER},
      </if>
      <if test="usedu != null">
        #{usedu,jdbcType=INTEGER},
      </if>
      <if test="remainu != null">
        #{remainu,jdbcType=INTEGER},
      </if>
      <if test="spaceratio != null">
        #{spaceratio,jdbcType=DOUBLE},
      </if>
      <if test="maxconsu != null">
        #{maxconsu,jdbcType=INTEGER},
      </if>
      <if test="totalcap != null">
        #{totalcap,jdbcType=DOUBLE},
      </if>
      <if test="usedcap != null">
        #{usedcap,jdbcType=DOUBLE},
      </if>
      <if test="remaincap != null">
        #{remaincap,jdbcType=DOUBLE},
      </if>
      <if test="loadratio != null">
        #{loadratio,jdbcType=DOUBLE},
      </if>
      <if test="areaid != null">
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="areaname != null">
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="systemid != null">
        #{systemid,jdbcType=INTEGER},
      </if>
      <if test="systemname != null">
        #{systemname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.leotech.entity.StatsExample" resultType="java.lang.Integer">
    select count(*) from stats
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stats
    <set>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.totalu != null">
        totalU = #{record.totalu,jdbcType=INTEGER},
      </if>
      <if test="record.usedu != null">
        usedU = #{record.usedu,jdbcType=INTEGER},
      </if>
      <if test="record.remainu != null">
        remainU = #{record.remainu,jdbcType=INTEGER},
      </if>
      <if test="record.spaceratio != null">
        spaceRatio = #{record.spaceratio,jdbcType=DOUBLE},
      </if>
      <if test="record.maxconsu != null">
        maxConsU = #{record.maxconsu,jdbcType=INTEGER},
      </if>
      <if test="record.totalcap != null">
        totalCap = #{record.totalcap,jdbcType=DOUBLE},
      </if>
      <if test="record.usedcap != null">
        usedCap = #{record.usedcap,jdbcType=DOUBLE},
      </if>
      <if test="record.remaincap != null">
        remainCap = #{record.remaincap,jdbcType=DOUBLE},
      </if>
      <if test="record.loadratio != null">
        loadRatio = #{record.loadratio,jdbcType=DOUBLE},
      </if>
      <if test="record.areaid != null">
        areaId = #{record.areaid,jdbcType=INTEGER},
      </if>
      <if test="record.areaname != null">
        areaName = #{record.areaname,jdbcType=VARCHAR},
      </if>
      <if test="record.systemid != null">
        systemId = #{record.systemid,jdbcType=INTEGER},
      </if>
      <if test="record.systemname != null">
        systemName = #{record.systemname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stats
    set name = #{record.name,jdbcType=VARCHAR},
      totalU = #{record.totalu,jdbcType=INTEGER},
      usedU = #{record.usedu,jdbcType=INTEGER},
      remainU = #{record.remainu,jdbcType=INTEGER},
      spaceRatio = #{record.spaceratio,jdbcType=DOUBLE},
      maxConsU = #{record.maxconsu,jdbcType=INTEGER},
      totalCap = #{record.totalcap,jdbcType=DOUBLE},
      usedCap = #{record.usedcap,jdbcType=DOUBLE},
      remainCap = #{record.remaincap,jdbcType=DOUBLE},
      loadRatio = #{record.loadratio,jdbcType=DOUBLE},
      areaId = #{record.areaid,jdbcType=INTEGER},
      areaName = #{record.areaname,jdbcType=VARCHAR},
      systemId = #{record.systemid,jdbcType=INTEGER},
      systemName = #{record.systemname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.leotech.entity.Stats">
    update stats
    <set>
      <if test="totalu != null">
        totalU = #{totalu,jdbcType=INTEGER},
      </if>
      <if test="usedu != null">
        usedU = #{usedu,jdbcType=INTEGER},
      </if>
      <if test="remainu != null">
        remainU = #{remainu,jdbcType=INTEGER},
      </if>
      <if test="spaceratio != null">
        spaceRatio = #{spaceratio,jdbcType=DOUBLE},
      </if>
      <if test="maxconsu != null">
        maxConsU = #{maxconsu,jdbcType=INTEGER},
      </if>
      <if test="totalcap != null">
        totalCap = #{totalcap,jdbcType=DOUBLE},
      </if>
      <if test="usedcap != null">
        usedCap = #{usedcap,jdbcType=DOUBLE},
      </if>
      <if test="remaincap != null">
        remainCap = #{remaincap,jdbcType=DOUBLE},
      </if>
      <if test="loadratio != null">
        loadRatio = #{loadratio,jdbcType=DOUBLE},
      </if>
      <if test="areaid != null">
        areaId = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="areaname != null">
        areaName = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="systemid != null">
        systemId = #{systemid,jdbcType=INTEGER},
      </if>
      <if test="systemname != null">
        systemName = #{systemname,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leotech.entity.Stats">
    update stats
    set totalU = #{totalu,jdbcType=INTEGER},
      usedU = #{usedu,jdbcType=INTEGER},
      remainU = #{remainu,jdbcType=INTEGER},
      spaceRatio = #{spaceratio,jdbcType=DOUBLE},
      maxConsU = #{maxconsu,jdbcType=INTEGER},
      totalCap = #{totalcap,jdbcType=DOUBLE},
      usedCap = #{usedcap,jdbcType=DOUBLE},
      remainCap = #{remaincap,jdbcType=DOUBLE},
      loadRatio = #{loadratio,jdbcType=DOUBLE},
      areaId = #{areaid,jdbcType=INTEGER},
      areaName = #{areaname,jdbcType=VARCHAR},
      systemId = #{systemid,jdbcType=INTEGER},
      systemName = #{systemname,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>